In [86]:
# coding:u8
import json
import numpy as np
import pandas as pd
from tqdm import tqdm as tqdm
import gc
from gensim.models import Word2Vec
from sklearn.model_selection import KFold

In [87]:
ner_result = pd.read_pickle('result/ner_bert_result.pkl')
ner_result['text'] = ner_result['text'].apply(lambda x:''.join(x[1:-1]))

In [88]:
ner_result.head()

                            text            pred                        pos
0            《忏悔录》 20111016 荒唐出轨           [忏悔录]                   [(2, 5)]
1       《最终幻想世界》上线steam 11月22日发售        [最终幻想世界]                   [(2, 8)]
2      《谢文东2》电视剧_全集(1-28集)高清在线观看     [谢文东2, 电视剧]          [(2, 6), (7, 10)]
3                进口喜宝奶粉有适合3岁以上的吗  [进口, 喜宝奶粉, 适合]  [(1, 3), (3, 7), (8, 10)]
4  “3·11”东日本大地震7周年悼念 仍有约七万人过着...              []                         []

In [89]:
ner_result.shape

(10000, 3)

In [90]:
# 包装成和train_data一样的格式
new_train_data = []
for index,row in ner_result.iterrows():
    item = {}
    item['text_id'] = index+1
    item['text'] = row['text']
    item['mention_data'] = []
    for i,p in enumerate(row['pos']):
        item['mention_data'].append({'mention':row['pred'][i], 'offset':str(p[0]-1)})
    new_train_data.append(item)

In [91]:
new_train_data[0:5]

[{'text_id': 1,
  'text': '《忏悔录》 20111016 荒唐出轨',
  'mention_data': [{'mention': '忏悔录', 'offset': '1'}]},
 {'text_id': 2,
  'text': '《最终幻想世界》上线steam 11月22日发售',
  'mention_data': [{'mention': '最终幻想世界', 'offset': '1'}]},
 {'text_id': 3,
  'text': '《谢文东2》电视剧_全集(1-28集)高清在线观看',
  'mention_data': [{'mention': '谢文东2', 'offset': '1'},
   {'mention': '电视剧', 'offset': '6'}]},
 {'text_id': 4,
  'text': '进口喜宝奶粉有适合3岁以上的吗',
  'mention_data': [{'mention': '进口', 'offset': '0'},
   {'mention': '喜宝奶粉', 'offset': '2'},
   {'mention': '适合', 'offset': '7'}]},
 {'text_id': 5, 'text': '“3·11”东日本大地震7周年悼念 仍有约七万人过着...', 'mention_data': []}]

In [92]:
train_data[0]

{'text_id': '1',
 'text': '南京南站:坐高铁在南京南站下。南京南站',
 'mention_data': [{'kb_id': '311223', 'mention': '南京南站', 'offset': '0'},
  {'kb_id': '341096', 'mention': '高铁', 'offset': '6'},
  {'kb_id': '311223', 'mention': '南京南站', 'offset': '9'},
  {'kb_id': '311223', 'mention': '南京南站', 'offset': '15'}]}

In [93]:
train_data = []
train_data_dict = {}
with open('data/raw_data/train.json','r') as f:
    for line in f:
        raw = json.loads(line)
        train_data.append(raw)
        train_data_dict[raw['text_id']] = raw
# 读取知识库
kb_data = []
kb = {}
with open('data/raw_data/kb_data','r') as f:
    for line in f:
        item = json.loads(line)
        kb[item['subject_id']] = item
        kb_data.append(item)

In [94]:
kb = {}
with open('data/raw_data/kb_data','r') as f:
    for line in f:
        item = json.loads(line)
        kb[item['subject_id']] = item
        kb_data.append(item)
# 补充别名实体进入kb
for s in train_data:
    for m in s['mention_data']:
        
        if m['kb_id']=='NIL': continue 
        name_list = kb[m['kb_id']]['alias']
        name_list += [kb[m['kb_id']]['subject']]
        if m['mention'] not in name_list:
            kb[m['kb_id']]['alias'] += [m['mention']]
name_id = {}
for kb_id in kb:
    for item in kb[kb_id]['alias']:
        if item not in name_id:
            name_id[item] = [kb_id]
        else:
            name_id[item].append(kb_id)
    if kb[kb_id]['subject'] not in name_id:
        name_id[kb[kb_id]['subject']] = [kb_id]
    else:
        name_id[kb[kb_id]['subject']].append(kb_id)
# 去重
for id in name_id:
    name_id[id] = list(set(name_id[id]))

In [95]:
kb_column = []
train_column = []
text_id = []
# label_colum = []
num_attrs = []
num_abstract_words = []
num_alias = []
m_id = 0
m_id_list = []
num_candidate = []
equal_subject = []
shuminghao = [] 
entity_common = []
len_mention = []
mention_start = []
for s in tqdm(new_train_data):
    mention_ner = s['mention_data']
    m_list = []
    for m in mention_ner:
        m_list.append(m['mention'])
    for m in mention_ner:
#         if m['mention'] not in name_id or m['kb_id']=='NIL':
#             continue
        candidate_ids = name_id[m['mention']]
        for m_candidate_id in candidate_ids:
            # 统计配对特征
            candidate_numattrs = 0
            candidate_abstract_numwords = 0
            candidate_detail = kb[m_candidate_id]
            candi_text = ''
            for predicate in candidate_detail['data']:
                candidate_numattrs += 1
                candi_text += predicate['object']
                if predicate['predicate'] == '摘要':
                    candidate_abstract = predicate['object']
                    candidate_abstract_numwords = len(candidate_abstract)
#                 if predicate['predicate'] == '标签':
#                     candidate_label += predicate['object']
            train_column.append(m['mention'])
            kb_column.append(m_candidate_id)
            text_id.append(s['text_id'])
            num_attrs.append(candidate_numattrs)
            num_abstract_words.append(candidate_abstract_numwords)
            num_alias.append(len(candidate_detail['alias']))
            m_id_list.append(m_id)
            num_candidate.append(len(candidate_ids))
            equal_subject.append(candidate_detail['subject']==m['mention'])
            shuminghao.append('《'+candidate_detail['subject']+'》' in candidate_abstract)
            len_mention.append(len(m['mention']))
            mention_start.append(m['offset'])
            
            i = 0
            for item in m_list:
                if item in candi_text: i+=1
            entity_common.append(i)
        m_id += 1
        
data = pd.DataFrame()
data['text_id'] = text_id
data['kb_id'] = kb_column
data['train_mention'] = train_column
# data['label'] = label_colum
data['num_attrs'] = num_attrs
data['num_abstract_words'] = num_abstract_words
data['num_alias'] = num_alias
data['m_id'] = m_id_list
data['num_candidates'] = num_candidate 
data['mention_equal_subject'] = equal_subject
data['shuminghao'] = shuminghao
data['entity_common']  = entity_common
data['len_mention'] = len_mention
data['mention_start'] = list(map(int,mention_start))

100%|██████████| 10000/10000 [00:01<00:00, 5694.92it/s]

In [96]:
data.shape

(191953, 13)

In [97]:
# 构建数据配对-只做有label的
kb_column = []
train_column = []
text_id = []
label_colum = []
for s in tqdm(train_data):
    mention_ner = s['mention_data']
    for m in mention_ner:
        if m['mention'] not in name_id:
            continue
        candidate_ids = name_id[m['mention']]
        for m_candidate_id in candidate_ids:
            if m_candidate_id==m['kb_id']:
                label = 1
            else:
                label = 0
            train_column.append(m['mention'])
            kb_column.append(m_candidate_id)
            text_id.append(s['text_id'])
            label_colum.append(label)
        
stat_data = pd.DataFrame()
stat_data['text_id'] = text_id
stat_data['kb_id'] = kb_column
stat_data['train_mention'] = train_column
stat_data['label'] = label_colum

100%|██████████| 90000/90000 [00:01<00:00, 65680.94it/s]

In [98]:
print(data.shape,stat_data.shape)

(191953, 13) (1821412, 4)

In [99]:
# 流行度特征
# 总流行度
train_group = stat_data.groupby('kb_id',as_index=False)['label'].agg({'label_mean':'mean','label_count':'count'})
data_ctr = data.merge(train_group,on='kb_id',how='left')
train_group = stat_data.groupby(['kb_id','train_mention'])['label'].agg({'m_label_mean':'mean','m_label_count':'count'})
data_ctr = data_ctr.merge(train_group,on=['kb_id','train_mention'],how='left')

/home/zhukaihua/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  """

In [100]:
data_ctr.head()

,text_id,kb_id,train_mention,num_attrs,num_abstract_words,num_alias,m_id,num_candidates,mention_equal_subject,shuminghao,entity_common,len_mention,mention_start,label_mean,label_count,m_label_mean,m_label_count
0,1,119304,忏悔录,13,158,16,0,5,True,True,1,3,1,0.833333,18.0,0.833333,18.0
1,1,372331,忏悔录,5,31,3,0,5,True,True,1,3,1,0.111111,18.0,0.111111,18.0
2,1,113234,忏悔录,14,360,8,0,5,True,True,1,3,1,0.055556,18.0,0.055556,18.0
3,1,38456,忏悔录,11,347,3,0,5,True,True,1,3,1,0.000000,18.0,0.000000,18.0
4,1,386314,忏悔录,14,226,1,0,5,True,True,1,3,1,0.000000,18.0,0.000000,18.0

In [101]:
to_rank = ['num_attrs', 'num_abstract_words', 'num_alias', 'label_mean', 'label_count', 'm_label_mean', 
             'm_label_count','num_candidates','mention_equal_subject','shuminghao','entity_common']
for f in to_rank:
    data_group = data_ctr.groupby('m_id')[f].rank(ascending=False)
    data_ctr['rank_'+f] = data_group

In [102]:
candidate_type_list = set(['AcademicDiscipline',
               'Animal', 'AstronomicalObject', 'Athlete', 'AwardEventSeries', 'Brand',
               'Building', 'CollegeOrUniversity', 'CommunicationMedium', 'Country',
               'CreativeWork', 'CulturalHeritage', 'Currency', 'Curriculum',
               'EducationMajor', 'EntertainmentPerson', 'Event', 'FamilyName',
               'FictionalHuman', 'FictionalThing', 'Food', 'Formula', 'Game',
               'HistoricalPeriod', 'HistoricalPerson', 'Human',
               'InternationalOrganization', 'Language', 'Material', 'MedicalCondition',
               'MedicalDepartmentType', 'Movie', 'Nation', 'Organism', 'Organization',
               'Person', 'Place', 'Plant', 'Product', 'ScientificOrganization',
               'Symbol', 'TVPlay', 'TVShow', 'Theorem', 'Thing', 'Tool', 'Vocabulary',
               'ZodiacSign'])
data_ctr['type'] = data_ctr.apply(lambda x:kb[x['kb_id']]['type'][0],axis=1)
for t in candidate_type_list:
    data_ctr[t] = data_ctr['type'].apply(lambda x:x in candidate_type_list)

In [103]:
from sklearn.externals import joblib
gbm_pickle = joblib.load('model_link/lgb.pkl')

In [104]:
predictor = ['num_attrs', 'num_abstract_words', 'num_alias', 'label_mean', 'label_count', 'm_label_mean', 
             'm_label_count','AcademicDiscipline',
               'Animal', 'AstronomicalObject', 'Athlete', 'AwardEventSeries', 'Brand',
               'Building', 'CollegeOrUniversity', 'CommunicationMedium', 'Country',
               'CreativeWork', 'CulturalHeritage', 'Currency', 'Curriculum',
               'EducationMajor', 'EntertainmentPerson', 'Event', 'FamilyName',
               'FictionalHuman', 'FictionalThing', 'Food', 'Formula', 'Game',
               'HistoricalPeriod', 'HistoricalPerson', 'Human',
               'InternationalOrganization', 'Language', 'Material', 'MedicalCondition',
               'MedicalDepartmentType', 'Movie', 'Nation', 'Organism', 'Organization',
               'Person', 'Place', 'Plant', 'Product', 'ScientificOrganization',
               'Symbol', 'TVPlay', 'TVShow', 'Theorem', 'Thing', 'Tool', 'Vocabulary',
               'ZodiacSign','num_candidates','mention_equal_subject','shuminghao','entity_common',
            'rank_num_attrs', 'rank_num_abstract_words',
       'rank_num_alias', 'rank_label_mean', 'rank_label_count',
       'rank_m_label_mean', 'rank_m_label_count', 'rank_num_candidates',
       'rank_mention_equal_subject', 'rank_shuminghao', 'rank_entity_common','len_mention','mention_start']
link_grades = gbm_pickle.predict(data_ctr[predictor])

In [105]:
len(link_grades)

191953

In [106]:
data_ctr['link_grade'] = link_grades

In [107]:
data_ctr.head()

,text_id,kb_id,train_mention,num_attrs,num_abstract_words,num_alias,m_id,num_candidates,mention_equal_subject,shuminghao,...,Nation,Product,FictionalThing,Athlete,AstronomicalObject,ScientificOrganization,TVShow,Movie,AcademicDiscipline,link_grade
0,1,119304,忏悔录,13,158,16,0,5,True,True,...,True,True,True,True,True,True,True,True,True,0.978312
1,1,372331,忏悔录,5,31,3,0,5,True,True,...,True,True,True,True,True,True,True,True,True,0.306917
2,1,113234,忏悔录,14,360,8,0,5,True,True,...,True,True,True,True,True,True,True,True,True,0.764129
3,1,38456,忏悔录,11,347,3,0,5,True,True,...,True,True,True,True,True,True,True,True,True,0.332558
4,1,386314,忏悔录,14,226,1,0,5,True,True,...,True,True,True,True,True,True,True,True,True,0.000023

In [108]:
# index_df = val_data.groupby('m_id')['index'].apply(list)
# label_package = val_data.groupby('m_id',as_index=False)['label'].agg({'label_id_max':'idxmax'})['label_id_max']

In [109]:
max_id = data_ctr.groupby('m_id',as_index=False)['link_grade'].agg({'max_id':'idxmax'})['max_id']

In [110]:
max_id.shape

(27879,)

In [111]:
sum(ner_result['pred'].apply(lambda x:len(x)))

27879

In [112]:
valid_data = data_ctr.loc[max_id,:]

In [113]:
valid_data.head()

,text_id,kb_id,train_mention,num_attrs,num_abstract_words,num_alias,m_id,num_candidates,mention_equal_subject,shuminghao,...,Nation,Product,FictionalThing,Athlete,AstronomicalObject,ScientificOrganization,TVShow,Movie,AcademicDiscipline,link_grade
0,1,119304,忏悔录,13,158,16,0,5,True,True,...,True,True,True,True,True,True,True,True,True,0.978312
5,2,303980,最终幻想世界,12,132,6,1,2,True,False,...,True,True,True,True,True,True,True,True,True,0.542264
8,3,64062,谢文东2,18,129,3,2,2,False,True,...,True,True,True,True,True,True,True,True,True,0.991166
12,3,202048,电视剧,14,426,2995,3,8,True,False,...,True,True,True,True,True,True,True,True,True,0.999897
17,4,79540,进口,9,68,7,4,1,True,False,...,True,True,True,True,True,True,True,True,True,0.999928

In [114]:
new_train_data[0:3]

[{'text_id': 1,
  'text': '《忏悔录》 20111016 荒唐出轨',
  'mention_data': [{'mention': '忏悔录', 'offset': '1'}]},
 {'text_id': 2,
  'text': '《最终幻想世界》上线steam 11月22日发售',
  'mention_data': [{'mention': '最终幻想世界', 'offset': '1'}]},
 {'text_id': 3,
  'text': '《谢文东2》电视剧_全集(1-28集)高清在线观看',
  'mention_data': [{'mention': '谢文东2', 'offset': '1'},
   {'mention': '电视剧', 'offset': '6'}]}]

In [115]:
testfile_name = 'data/raw_data/develop.json'
submit = []
with open(testfile_name, 'r') as f:
    for line in tqdm(f):
        s = json.loads(line)
        submit.append(s)

10000it [00:00, 41851.18it/s]

In [118]:
kbid_finder = {}
for index,row in valid_data.iterrows():
    kbid_finder[str(row['text_id'])+row['train_mention']] = row['kb_id']

In [119]:
submit_data = []
for item in new_train_data:
    new_m = item
    for m in item['mention_data']:
        new_m['kb_id'] = kbid_finder[str(item['text_id'])+m['mention']]
    submit_data.append(new_m)

In [ ]:
js.result.json

In [121]:
import json
with open('submit/result.json', 'w') as f:
    json.dump(submit_data, f)

In [122]:
len(submit_data)

10000